@using static BlazorApp1.Pages.GiftExchanges

@if (GiftExchange != null)
{
    <h1>@_currentYear</h1>

    @foreach (var s in _displayStrings)
    {
        <h2>@s</h2>
    }
}
@code {
    [Parameter]
    public HistoricalGiftExchange? GiftExchange { get; set; }

    private static readonly string _emptyString = string.Empty;
    private DateTime _currentDateTime = DateTime.UtcNow;
    private List<string> _displayStrings = [];
    private int _currentYear;
    private int _howManySeparatorsNeeded;

    protected async override Task OnParametersSetAsync()
    {
        _currentDateTime = DateTime.UtcNow;

        if (GiftExchange?.Year is int year
            && _currentYear != year)
        {
            await UpdateDisplay([.. GiftExchange.GiftExchangeData]);
            _currentYear = year;
        }
    }

    private static int DetermineCycleCount(IList<DisplayData> giftExchanges)
    {
        var retVal = 0;
        var giverId = giftExchanges[0].GiverId;

        while (true)
        {
            var exchange = giftExchanges.FirstOrDefault(e => e.GiverId == giverId);

            if (exchange is null)
            {
                retVal++;

                if (!giftExchanges.Any())
                {
                    break;
                }

                exchange = giftExchanges.First();
            }

            giftExchanges.Remove(exchange);

            giverId = exchange.ReceiverId;
        }

        return retVal;
    }

    private Task UpdateDisplay(IList<DisplayData> giftExchanges)
    {
        _displayStrings.Clear();
        _howManySeparatorsNeeded = DetermineCycleCount([.. giftExchanges]) - 1;

        var exchanges = giftExchanges.ToList();

        var firstExchange = exchanges.OrderBy(e => e.GiverName).FirstOrDefault();

        if (firstExchange is null)
        {
            return Task.CompletedTask;
        }
        else if (firstExchange.Skipped)
        {
            _displayStrings.Add(string.IsNullOrWhiteSpace(firstExchange.SkippedReason) ? "Skipped: Reason Unknown" : firstExchange.SkippedReason);

            return Task.CompletedTask;
        }

        var giverId = firstExchange.GiverId;
        var giverName = firstExchange.GiverName;

        while (true)
        {
            var exchange = exchanges.FirstOrDefault(e => e.GiverId == giverId);

            if (exchange is null)
            {
                if (!exchanges.Any())
                {
                    return Task.CompletedTask;
                }

                exchange = exchanges.First();

                _displayStrings.Add("---------------------------");
            }

            exchanges.Remove(exchange);
            giverId = exchange.ReceiverId;

            var exchangeDate = new DateTime(exchange.Year, 12, 25, 0, 0, 0, DateTimeKind.Utc);
            var midWord = exchangeDate < _currentDateTime ? "had" : "has";
            _displayStrings.Add($"{exchange.GiverName} {midWord} {exchange.ReceiverName}");
        }
    }
}