@page "/"
@inject HttpClient Http

<PageTitle>Secret Santas</PageTitle>

@if (_historicalGiftExchanges is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Secret Santas by Year</h1>

    @foreach (var giftExchangeYear in _historicalGiftExchanges.OrderByDescending(d => d.Key))
    {
        <button @onclick="@(() => HistoricalGiftExchangesOnClickHandler(giftExchangeYear.Value))">
            @giftExchangeYear.Key
        </button>
    }

    <GiftExchangeDetail GiftExchange=@_selectedGiftExchange></GiftExchangeDetail>
}

@if (_historicalParticipants is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <br />
    <br />
    <br />
    <h1>Secret Santas by Giver</h1>

    @foreach (var participant in _historicalParticipants.OrderBy(d => d.Key.Name))
    {
        <button @onclick="@(() => HistoricalParticipantsOnClickHandler(participant))">
            @participant.Key.Name
        </button>
    }

    <HistoricalParticipantDetail Participants=@_participants Participant=@_selectedParticipant></HistoricalParticipantDetail>
}

@code {
    private List<GiftExchangeModel> _giftExchanges = [];
    private List<ParticipantModel> _participants = [];
    private List<ParticipantModel> _availableSignificantOthers = [];
    private List<int> _availableGiftExchangeYears = [];
    private Dictionary<int, HistoricalGiftExchange> _historicalGiftExchanges = new Dictionary<int, HistoricalGiftExchange>();
    private Dictionary<ParticipantModel, List<GiftExchangeModel>> _historicalParticipants = new Dictionary<ParticipantModel, List<GiftExchangeModel>>();

    private HistoricalGiftExchange? _selectedGiftExchange;
    private KeyValuePair<ParticipantModel, List<GiftExchangeModel>> _selectedParticipant;

    private void HistoricalGiftExchangesOnClickHandler(HistoricalGiftExchange historicalGiftExchange)
    {
        _selectedGiftExchange = historicalGiftExchange;
    }

    private void HistoricalParticipantsOnClickHandler(KeyValuePair<ParticipantModel, List<GiftExchangeModel>> historicalParticipant)
    {
        _selectedParticipant = historicalParticipant;
    }

    protected override async Task OnInitializedAsync()
    {
        await Init();
    }

    private async Task Init()
    {
        _availableSignificantOthers.Clear();
        _giftExchanges.Clear();
        _participants.Clear();
        _historicalGiftExchanges.Clear();
        _historicalParticipants.Clear();

        _availableSignificantOthers = [new ParticipantModel()];
        var randomid = Guid.NewGuid().ToString();
        var secretSantaData = await Http.GetFromJsonAsync<SecretSantaData>($"sample-data/secretSantaData.json?{randomid}");

        if (secretSantaData is null)
        {
            return;
        }

        _giftExchanges = secretSantaData.GiftExchanges?.ToList() ?? [];

        _participants = secretSantaData.Participants?.ToList() ?? [];
        _availableSignificantOthers.AddRange(_participants);

        foreach (var g in _giftExchanges)
        {
            if (!_historicalGiftExchanges.ContainsKey(g.Year))
            {
                _availableGiftExchangeYears.Add(g.Year);
                _historicalGiftExchanges.Add(g.Year, new() { Year = g.Year });
            }

            var giver = _participants.FirstOrDefault(p => p.Id == g.GiverId);
            var receiver = _participants.FirstOrDefault(p => p.Id == g.ReceiverId);
            _historicalGiftExchanges[g.Year].GiftExchangeData.Add(new() { Year = g.Year, GiverId = g.GiverId, GiverName = giver?.Name, ReceiverId = g.ReceiverId, ReceiverName = receiver?.Name, Skipped = g.Skipped, SkippedReason = g.SkippedReason });
        }

        foreach (var p in _participants)
        {
            if (!_historicalParticipants.ContainsKey(p))
            {
                _historicalParticipants.Add(p, []);
            }

            _historicalParticipants[p].AddRange(_giftExchanges.Where(g => g.GiverId == p.Id).ToList());
        }

        _historicalGiftExchanges = _historicalGiftExchanges.OrderByDescending(g => g.Key).ToDictionary();

        _selectedGiftExchange = _historicalGiftExchanges.FirstOrDefault().Value;
    }

    public class SecretSantaData
    {
        public GiftExchangeModel[]? GiftExchanges { get; set; }
        public ParticipantModel[]? Participants { get; set; }
    }

    public class GiftExchangeModel
    {
        public int Year { get; set; }
        public Guid GiverId { get; set; }
        public Guid ReceiverId { get; set; }

        public bool Skipped { get; set; }

        public string? SkippedReason { get; set; }

        public override string ToString()
        {
            string message;
            if (Skipped)
            {
                message = string.IsNullOrWhiteSpace(SkippedReason) ? "Skipped" : SkippedReason;
            }
            else
            {
                message = $"{Year}, {GiverId}, {ReceiverId}";
            }

            return message;
        }
    }

    public class ParticipantModel : IEquatable<ParticipantModel>
    {
        public Guid Id { get; set; }
        public string? Name { get; set; }
        public Guid? SignificantOtherId { get; set; }

        public bool Equals(ParticipantModel? other)
        {
            if (other is null)
            {
                return false;
            }
            else if (Id == other.Id)
            {
                return true;
            }

            return false;
        }

        public override string ToString()
        {
            return $"{Id}, {Name}, {SignificantOtherId}";
        }
    }

    public class DisplayData
    {
        public int Year { get; set; }
        public Guid GiverId { get; set; }
        public string? GiverName { get; set; }
        public Guid ReceiverId { get; set; }
        public string? ReceiverName { get; set; }
        public bool Skipped { get; set; }
        public string? SkippedReason { get; set; }
    }

    public class HistoricalGiftExchange
    {
        public int Year { get; set; }

        public List<DisplayData> GiftExchangeData { get; set; } = [];
    }
}